@{
    ViewBag.Title = "Home Page";
}

<!--Jumbotron-->
<section class="jumbotron" id="jumbotron"></section>
<!--Jumbotron end-->
<!--About-->
<section id="about">
    <div class="explorer text-center">
        <div class="container">
            <h3 class="animated fadeInDown">Explore BCore blockchain solutions</h3>
            <div class="hr"></div>
            <div class="content">
                <p>
                    Simplify complex multi-party processes and create trust among participants – with blockchain and distributed
                    ledger solutions from Bcore.
                </p>
            </div>
        </div>
    </div>
    <div class="innovate text-center">
        <div class="container">
            <h3 class="animated zoomIn">Innovate with blockchain and other BCore technologies</h3>
            <div class="hr"></div>
            <div class="content">
                <p>
                    Learn how BCore's systematic approach to digital innovation can help you build state-of-the art applications
                    with blockchain capabilities. You can also integrate blockchain with other technologies – such as
                    analytics, Big Data, machine learning, and the IoT.
                </p>
            </div>
        </div>
    </div>
</section>
<!--About end-->
<!--Team-->
<section id="team" class="text-center">
    <div class="container">
        <h3 class="animated slideInUp" data-wow-offset="10">Explore the latest blockchain trends from technology experts</h3>
        <div class="hr"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/GapsLee.png" alt="Card image cap">
                        <div class="card-body">
                            <h4>FOUNDER</h4>
                            <p class="card-text">
                                12 years experience in financial market, 5 years specialized research on blockchain
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/Tommy-Cao.png" alt="Card image cap">
                        <div class="card-body">
                            <h4>CIO</h4>
                            <p class="card-text">
                                15 years of programming in finance, securities and portfolio management. Expect in financial trading market
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/Nam-Nguyen.png" alt="Card image cap">
                        <div class="card-body">
                            <h4>IT EXECUTIVE VICE PRESIDENT</h4>
                            <p class="card-text">
                                10 years of programming in finance, securities and portfolio management. 2 years programming in blockchain system
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Team end-->
<!--Contact-->
<section id="contact">
    <div class="container">
        <h3 class="text-center animated flipInX delay-0.2s">Contact Us</h3>
        <div class="hr"></div>
        <div class="row">
            <div class="col-md-6">
                <ul class="nav flex-column">
                    <li class="nav-item"><i class="fa fa-home"></i> BCORE TECHNOLOGY PTE. LTD</li>
                    <li class="nav-item"><i class="fa fa-address-card"></i> 20, Collyer Quay #23-01, Singapore<span> 049319</span></li>
                    <li class="nav-item"><i class="fa fa-phone"></i> (+84) 5411 2222</li>
                    <li class="nav-item"><i class="fa fa-envelope"></i> <a href="info@example.com"></a> Support@BcashPay.org</li>
                </ul>
            </div>
            <div class="col-md-6">
                <form action="#" id="form-message">
                    <fieldset>
                        <label>Name</label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>Email <span class="text-danger">*</span></label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <div class="row">
                            <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <p><button type="submit" class="btn btn-send">Send Message</button></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Contact end-->